body::-webkit-scrollbar{
    display:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    user-select: none;
    z-index: 5;
}
nav,footer{
    box-shadow: 0 2px 2px gray;
    height: 9vh;
    z-index: 20;
}
#logs{
    float: left;
}
#list{
    
    clear: left;
    display: inline-block;
}
li{
    display: inline-block;
}
#splash{
    background-image: url("../images/landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 82vh;
    margin: 9vh 0 0 0;
    overflow: hidden;
    position: fixed;
    z-index: 10;
}
#globe0{
    animation-delay: -2s;
    animation-name: spin;
    animation-delay: 0s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height:50%;
    z-index: 15;
}

.icn{
    height: 1.5rem;
}
.nav-link:hover{
    border-bottom: 1px solid whiteSmoke;
    cursor: pointer;
}
.tog{
    height: 3rem;
    margin: 0 -2rem 0 0;
}
#send{
    padding: 8.5vh 0 0 0;
}
#nextVideo{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#nextVideo:hover{
    cursor: pointer;
}
@keyframes spin{
    from{
        transform: rotate(0);
        opacity: 0.8;
    }
    to{
        transform: rotate(360deg);
        opacity: 1;
    }
}
@media only screen and (max-width: 769px)
{
    #list{
        right: 0;
    }
    .nav-link:hover{
        border-bottom: 0px solid whiteSmoke;
    }
    #send{
        padding: 24vh 0 0 0;
    }
    #globe0{
        margin: -3.5rem 0 0 0;
        height: 15rem;
        width: 15rem;
    }
}
