.background-white{background-color: #FFFFFF;}
.background-gray{background-color: #5f5f5f;}
.background-smoke{background-color: #e4e4e4;}
.background-red{background-color:#C70039;}
.background-orange{background-color:#FF5733;}
.background-yellow{background-color:#FFC300;}
.background-blue{background-color:#3498DB;}
.background-dark-blue{background-color:#10171d;}
.background-purple{background-color:#581845;}
.background-black{background-color:black;}
.background-pink{background-color:rgba(252, 87, 134);}

.button-light{border:none;font-weight: 700;padding:10px 20px;background-color:white;}

.text-helvetica{font-family: Arial, Helvetica, sans-serif;}
.text-roboto{font-family: "Roboto";}
.text-roboto-thin{font-family: "RobotoThin";}
.text-roboto-family{font-family: "RobotoCondensed","RobotoThin","Roboto";}
.text-times{font-family: 'Times New Roman', Times, serif;}
.text-monospace{font-family: 'Courier New', Courier, monospace;}

.text-color-white{color: #ECF0F1;}
.text-color-smoke{color: whitesmoke;}
.text-color-red{color:#C70039;}
.text-color-orange{color:#fd7e14;}
.text-color-yellow{color:#FFC300;}
.text-color-sky-blue{color:#3498DB;}
.text-color-dark-blue{color:#273746;}
.text-color-purple{color:#6f42c1;}
.text-color-black{color: black;}
.text-color-pink{color:#d63384;}

.text-size-sm{font-size: 12px;}
.text-size-md{font-size: 3em;}
.text-size-lg{font-size: 5em;}
.text-size-xl{font-size: 8em;}

.text-weight-sm{font-weight: 100;}
.text-weight-md{font-weight: 300;}
.text-weight-lg{font-weight: 600;}
.text-weight-xl{font-weight: 900;}

.padding-sm{padding: 1rem;}
.padding-md{padding: 2rem;}
.padding-lg{padding: 3rem;}
.padding-xl{padding: 4rem;}

.height-xxs{height: 8vh;}
.height-xs{height: 10vh;}
.height-sm{height: 25vh;}
.height-md{height: 50vh;}
.height-lg{height: 75vh;}
.height-xl{height: 100vh;}

.width-xs{width: 10vw;}
.width-sm{width: 25vw;}
.width-md{width: 50vw;}
.width-lg{width: 75vw;}
.width-xl{width: 100vw;}

.inline{display:inline;}
.block{display: block;}
.inlineblock{display:inline-block;}

.position-relative{position: relative;}
.navbar-splash-light{display: block;height: 100vh;background-color: #ECF0F1;color: black;}

.navbar-splash-dark{display: block;height: 100vh;background-color: black;color: white;}

.navbar-dark-theme{display:block;height: 8vh;background-color: black;color: white;}

.navbar-light-theme{display:block;height: 8vh;background-color: #ECF0F1;color: black;}

.left-navbar-wrap{text-align: left;float: left;width: 50vw;}

.right-navbar-wrap{text-align: right;float: right;width: 49vw;}

.navbar-list{display: inline;list-style-type: none;}

.navbar-list > li{display: inline;padding-right: 8px;}

.navbar-list > li:hover{cursor: pointer;}

@font-face {
    font-family: abril;
    src: url("../fonts/abril.ttf");
}
@font-face {
    font-family: libre;
    src: url("../fonts/libre.ttf");
}
@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: robotoCondensed;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}
